/************** Tag **************/
body {
    background-color: #FFFBF5;
    margin: 0;
}

hr {
    border: none;
    border-top: 4px dotted #C3ACD0;
    color: #fff;
    height: 2px;
    width: 10%;
    margin-top: 60px;
    margin-bottom:60px
}

h1 {
    color: #674188;
    margin-top: 0;
    font-family: 'Gloria Hallelujah', cursive;
    position: abosolute; 
    line-height: 2;
}

h2 {
    color: #674188;
    font-weight: normal;
    font-size: 30px;
}

h3 {
    color: #C3ACD0;
    position: relative;
    right: 15px;
}

p {
    color:#674188;
    font-family: "Trirong", serif;
    line-height: 1.5;
}


/************** Class **************/
.center {
    text-align: center;
}

.top-container {

    position: relative;
    padding-top: 80px;
}

.portfolio {
    border-radius: 30%;
}

.bird {
    width:30px;
}

.inline-text {
    width: 60%;
    margin: 0px auto 0px auto;
    text-align: center;
    position: relative;
    line-height: 1;
}

.footer-link {
    margin: 7px;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display:inline-flex;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    }

    .button-64:active,
    .button-64:hover {
        outline: 0;
    }

    .button-64 span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        min-width: 0px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }

    .button-64:hover span {
        background: none;
    }

    @media (min-width: 300px) {
    .button-64 {
    font-size: 24px;
    min-width: 196px;
    }
}

/************** ID **************/
#contact_link {
    text-decoration: none;
}

#name {
    font-size:2em;
}


