
body {
    
    margin: 0;
}
h1 {
    color: #674188;
    margin-top: 0;
    font-family: 'Gloria Hallelujah', cursive;
    position: abosolute; 
    line-height: 2;
}

h2 {
    color: #674188;
    font-weight: normal;
}

h3 {
    color: #C3ACD0;
}

.center {
    text-align: center;
}

.top-container {
    background-color: #FFFBF5;
    position: relative;
    padding-top: 80px;
}

.bottom-container {
    background-color: #F7EFE5;
}

.portfolio {
    border-radius: 30%;
}

.bird {
    width:30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
}

#name {
    font-size:2em;
}

#top-cloud {
    position: absolute;
    right: 180px;
    bottom: 350px
}
 
#bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 180px
}

#mountain {
    position:relative;
    bottom: 0px;
    
}
